<!-- <div class="container">
  <mat-tab-group>
    <mat-tab label="Sign In">
      <app-sign-in></app-sign-in>
    </mat-tab>
    <mat-tab label="Sign Up">
      <app-sign-up></app-sign-up>
    </mat-tab>
  </mat-tab-group>
</div> 
<nav class="navbar navbar-expand-sm bg-light justify-content-center">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Shopping List</a>
      </li>
    </ul>
  </div>

</nav>
<div>
  <router-outlet></router-outlet>
</div>-->
<div class="container">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive='active' routerLink="/login">SIGN IN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive='active' routerLink="/signup">SIGN UP</a>
    </li>
    
  </ul>

</div>

<div class="justify-content-center">
  <router-outlet></router-outlet>
</div>

