<div class="container">
<footer class="footer">
  <ul class="nav navbark bg-light fixed-bottom">
    <li class="nav-item"><a href="#" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>
    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
  </ul>
</footer>
</div>